<h1>Ironhack Cinema</h1>

<h3>Click on the movie to check the showtimes!</h2>

{{#each this.myMovies}}
<div class="container">
    <img src="{{this.image}}" alt='{{this.title}} image'>
    <br>
    <p>{{this.title}}</p>
    <a href="movies/{{this._id}}">See More</a>
</div>

{{/each}}